PORT=3000
LAN_IP=<عنوان IP الثابت للجهاز># مثال: 192.168.1.10
SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET_VALUE
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeMe123!
DEFAULT_TABLE_SESSION_MINUTES=20
WIFI_SSID=<اسم شبكة الواي فاي المطبوع على أوراق الطاولات>
WIFI_PASSWORD=<كلمة مرور الواي فاي>
